<h1>My tasks</h1>
<% @tasks.each do |task| %>
    <% if task[:completed] == true %>
        <div>
          <input type="checkbox" id="scales" name="scales"
                 checked disabled>
          <label for="scales"><%= link_to task[:title], task_path(task) %></label>
          <%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
    <% else %>
        <div>
          <input type="checkbox" id="scales" name="scales" disabled>
          <label for="scales"><%= link_to task[:title], task_path(task) %></label>
          <%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
    <% end %>
<% end %>

<%= link_to 'Create new Task', new_task_path%>

